*
  {
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--tipografiaGeneral);
  }
  :root
    {
    --colorAmarillo : #EAC926;
    --colorAzul :  #03264C;
    --colorCeleste : #1259c3;
    --colorGrisoscuro : #666;
    --colorGrisclaro : #ebebeb;
    --colorVerde : #39b54a;
    --tipografiaGeneral : "Roboto",sans-serif;
    --colorEnvio: #0022AA;
    }
