body {
    max-width: 1366px;
    margin: 0 auto;
}

.home__header {
    background-color: var(--colorAmarillo);
}

.home__header--top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.home__header--img {
    width: 50%;
    padding-top: 20px;
    padding-left: 20px;
}

.home__header--busqueda {
    width: 50%;
    padding-top: 10px;
    padding-left: 20px;
    position: relative;
}

.home__header--busqueda input {
    width: 75%;
    border: none;
    transition: all 1s;
}

.home__header--busqueda button {
    top: 11px;
    position: absolute;
    border: none;
    background-color: white;
    color: var(--colorGrisOscuro);
    margin: auto;
    transition: all 1s;
}

.busqueda:hover{
    background-color: lightblue;
}

.busqueda1:hover{
    background-color: lightblue;
}

.home__header--busqueda:hover input::placeholder
{
    color: black;
}

.home__header--tarjeta {
    font-size: 12px;
    text-align: center;
    padding-top: 20px;
    margin: auto;
}

.home__header--buttom {
    display: flex;
    flex-wrap: wrap;
}

.home__header__navbar {
    padding-left: 0px;
    padding-top: 20px;
    list-style-type: none;
    display: none;
}

.home__header__navbar__user {
    padding-left: 0px;
    padding-top: 20px;
    list-style-type: none;
    display: none;
}

.home__header__navbar--link {
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.home__header__menu {
    padding-bottom: 15px;
    padding-top: 15px;
}

.home__header__menu--hamburger {
    background-color: var(--colorCeleste);
    color: var(--colorGrisclaro);
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    height: 35px;
    width: 35px;
    font-size: 16px;
    border: none;
}

.home__header--banner img {
    width: 100%;
    position: relative;
    top: 4px;
}

/* tablet */
@media (min-width: 485px) {
    .header {
        align-items: center;
    }

    .home__header--img {
        width: 33%;
    }

    .home__header--busqueda {
        width: 33%;
    }

    .home__header--busqueda input{
        width: 80%;
        height: 40px;
    }

    .home__header--busqueda button{
        top: 10px;
        height: 40px;
        font-size: 17px;
    }

    .home__header--busqueda input::placeholder {
        font-size: 12px;
    }

    .home__header--tarjeta {
        width: 33%;
    }

    .home__header__navegador{
        margin-right: auto;
    }

    .home__header__navegador2{
        margin-left: auto;
    }


    .home__header__navbar {
        display: flex;
    }

    .home__header__navbar__user {
        display: flex;
    }

    .home__header__navbar--link {
        padding: 3px;
    }

    .home__header__menu--hamburger {
        display: none;
    }
}

/*desktop usa lo mismo que el media queri de tablet*/
@media (min-width: 769px) {
    .header {
        align-items: center;
    }

    .home__header--img {
        width: 33%;
    }

    .home__header--busqueda {
        width: 33%;
    }

    .home__header--busqueda input::placeholder {
        font-size: 16px;
    }

    .home__header--busqueda input{
        width: 90%;
    }

    .home__header--buttom {
        justify-content: space-evenly;
    }

    .home__header--tarjeta {
        width: 33%;
        font-size: 18px;
    }

    .home__header__navbar {
        display: flex;
    }

    .home__header__navbar__user {
        display: flex;
    }

    .home__header__navbar--link {
        padding: 8px;
        font-size: 18px;
    }

    .home__header__menu--hamburger {
        display: none;
    }
}