.home__main {
    width: 90%;
    margin: 0 auto;
}


.home__main  h3{
    font-size: 24px;
}

.home__main h6{
    font-size: 18px;
}

.home__main p{
    font-size: 16px;
}

.home__main h5{
    font-size: 20px;
}

.home__main img {
    width: 100%;
}


.main__section__ultimaVisita {
    padding-top: 10px;
    padding-bottom: 10px;
}

.main__section__articles{
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}


.main__section__articles{
    border-top: 1px solid #ebebeb;
    padding: 15px;
    background-color: white;
}

.main__section__articles i {
    color: var(--colorVerde);
    border: 1px solid var(--colorVerde);
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: -220px;
    top: -35px;
    
}
.main__section__articles h6{
    display: inline;
    width: 30%;
}
.main__section__articles p {
    display: inline;
    width: 70%;
    color: var(--colorVerde);
    margin-left: 10px;
  
}

.main__section__articles h5 {
    padding-top: 15px;
}

.home__main__section__ofertas {
    padding-top: 10px;
    padding-bottom: 10px;
}

.main__section__articles{
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}


.main__section__articles{
    border-top: 1px solid #ebebeb;
    padding: 15px;
    background-color: white;
}

.main__section__articles i {
    color: var(--colorVerde);
    border: 1px solid var(--colorVerde);
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: -220px;
    top: -35px;
}

.main__section__articles h6{
    display: inline;
}
.main__section__articles p {
    display: inline;
    color: var(--colorVerde);
    margin-left: 10px;
  
}

.main__section__articles h5 {
    padding-top: 15px;
}

@media (min-width: 768px) {
    .main__section__ultimaVisita{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 20px;
    }

    .main__section__articles {
        width: 49%;
    }

    .main__section__ofertas{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 20px;
    }

    .main__section__articles {
        width: 49%;
    }

    }

    @media (min-width: 1024px) {
        .main__section__ultimaVisita{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 20px;
        }
    
        .main__section__articles {
            width: 25%;
        }
    
        .main__section__ofertas{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 20px;
        }
    
        .main__section__articles {
            width: 25%;
        }

        .main__section__articles i {
            right: -180px;
        }

        .main__section__articles i {
            right: -180px;
        }
    
        }